APP_NAME="Boutique Luxxe"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://boutiqueluxxe.com
APP_LOCALE=en
LOG_CHANNEL=stack
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_LIFETIME=480
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
QUEUE_CONNECTION=database
CACHE_STORE=database
FILESYSTEM_DISK=public
MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=info@boutiqueluxxe.com
MAIL_PASSWORD=""
MAIL_FROM_ADDRESS=info@boutiqueluxxe.com
MAIL_FROM_NAME="Boutique Luxxe"
MAIL_EHLO_DOMAIN=boutiqueluxxe.com

CONTACT_EMAIL=info@boutiqueluxxe.com
STORE_CURRENCY=USD

ORDER_GUEST_LINK_EXPIRATION_DAYS=30
EMAIL_VERIFICATION_REQUIRED=false

EMAIL_VERIFICATION_EXPIRE_MINUTES=60
